@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgb(63, 64, 68); */
}

/* For navbar */

h1{
    margin-left: 20px;
    margin-top: 20px;

}
#dash_but {
    
    background-color: #c64b2f;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    position: absolute;
    left: 1300px;
    top: -5px;
    /* margin-left: 1360px; */

}

.navbar{
    margin-bottom: 30px;

}

.meals{
    margin-left: 50px;
    border-radius: 10px;
    border: none;
    background-color: #fbeeeef2;
    padding: 1px;
    /* max-height: 1800px; */
}

h2{
    margin-left: 30px;
    /* margin-top: 20px; */
    /* background-color: #d3b6b666;
    border-radius: 10px; */
}

.breakfaster {
    position: relative;
    top: 20px;
    max-width: 600px;
    max-height: 500px;
    border: 1px solid black;
    padding: 10px;
    margin: 25px 0 100px 50px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff66;
}

.luncher,.dinnerr{
    position: relative;
    top: 20px;
    max-width: 600px;
    max-height: 500px;
    border: 1px solid black;
    padding: 10px;
    margin: 25px 0 100px 50px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff66;
}

.break_con{
    display: flex;
    justify-content: space-between;
    background-color: #d3b6b666;
    border-radius: 10px;
    margin: 10px;
    max-width: 650px;
}

.break_con1{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px;
    max-width: 650px;
}
/* img{
    background-color: #fff;
    border-radius: 10px;
    height: 75px;
    width: 75px;
    padding-left: -80px;
    background: transparent;
    background-size: cover;
} */
  
  
.lunch {
    max-width: 500px;
    max-height: 500px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 100px;
  }

  
.dinner {
    max-width: 500px;
    max-height: 500px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 100px;
  }

